<!DOCTYPE html>
<html lang="en" ng-app="oweather">
<head>
    <meta charset="UTF-8">
    <title>{{doc.title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shotcut icon" href="images/icon_oweather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="commonCtrl" class="body" ng-style="{'background-image':'url(images/bg/'+presentStats+'.jpg)'}">
    <div class="dim" ng-if="dimState" ng-click="asideOut($event)"></div>
    <h1 class="hide">O Weather</h1>

    <!-- include header -->
    <div ng-include="'include/header.html'"></div>
    <!-- //include header -->

    <!-- include lnb -->
    <div ng-include="'include/lnb.html'"></div>
    <!-- //include lnb -->

    <div data-ng-view></div>

    <script src="https://code.angularjs.org/1.4.6/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-aria.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-loader.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-route.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="script/ottorichart.js"></script>

    <script src="base/config.js"></script>
    <script src="base/appInfo.js"></script>
    <script src="script/common.js"></script>

    <!-- live 나갈 때는 아래 result.js로 빌드해서 나감 -->
    <!--<script src="build/result.js"></script>-->

    <!-- 개발시 script -->
    <script src="main/controller.js"></script>
    <script src="alarm/controller.js"></script>
    <script src="add/controller.js"></script>
    <script src="search/controller.js"></script>
    <script src="info/controller.js"></script>
    <script src="agreement/controller.js"></script>
</body>
</html>