<aside id="aside" class="aside" ng-class="on?'open':''">
    <div class="top">
        <h2 class="aside__title"><a href="#/main">Oweather</a></h2>
    </div>

    <div class="aside__nav">
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/add">Add Location</a>
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/alarm">Alarm</a>
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/share">Share</a>
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/search">Search</a>
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/agreement">Agreement</a>
        <a class="aside__nav--btn" ng-click="lnbMove()" href="#/info">Info</a>
    </div>
</aside>